@font-face {
    font-family: "Righteous-Regular";
    src: 
        url("./assets/fonts/Righteous-Regular.woff") format("woff"),
        url("./assets/fonts/Righteous-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Righteous-Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: #52525b;
    color: #e4e4e7;
    display: flex;
    padding: 10px;
    
    align-items: center;
}

header {
    justify-content: space-between;
}

footer {
    justify-content: center;
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "sidebar content";
    flex: 1;
}

.side-bar {
    background-color: #a1a1aa;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.content-area {
    background-color: #e4e4e7;
    color:#52525b;
    grid-area: content;
}

div.user-info {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

div.user-action {
    flex: 1;
    display: flex;
    justify-content: end;
    gap: 20%;
}

button.login,
button.logout,
button.notification,
button.edit,
button.delete {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    display: inline-block;
    border: none;
    border-radius: 50%;
}

.title-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
}

div.user-info img,
div.side-bar img {
    width: 40px;
    height: 40px;
}

div.user-info img {
    background-color: #e4e4e7;
    border-radius: 50%;
}

button.login {
    background-image: url("./assets/images/log-in-04-svgrepo-com.svg");
}

button.logout {
    background-image: url("./assets/images/log-out-04-svgrepo-com.svg");
}

button.notification {
    background-image: url("./assets/images/notification-13-svgrepo-com.svg");
}

button.login:hover,
button.logout:hover,
button.notification:hover {
    background-color: #a1a1aa;
}

.tooltip-text {
    visibility: hidden;
    width: 70px;
    background-color: #52525b;
    color: #e4e4e7;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    right: 100%;
    margin-left: -60px;
    transition:opacity 0.3s;
    opacity: 0;
}

.project-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10%;
    gap: 1rem;
}

#add-project {
    background-color: inherit;
    border: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.2rem;
    margin-top: 10px;
    align-items: center;
    margin-left: 10px;
    align-self: flex-start;
}

#add-project:hover {
    border-radius: 4px;
    background-color: #e4e4e7;
}

#add-project::before {
    content: "";
    background: url("./assets/images/add-folder-svgrepo-com.svg") no-repeat center center;
    height: 25px;
    width: 25px;
    background-size: contain;

}

.project-list button {
    width: 100%;
    background-color: inherit;
    color: #e4e4e7;
    border: none;
    border-bottom: 2px solid;
    font-size: 1.5rem;
    
}

.project-list button:hover {
    background-color: #52525b;
    border-bottom: #52525b;
    border-radius: 4px;
}

.project-list button.activated {
    background-color: #e4e4e7;
    border-bottom: #e4e4e7;
    color: #52525b;
    border-radius: 4px;
}

.content-area .project-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 70%;
    padding: 1rem;

}

.project-info button.edit,
.project-info button.delete {
    background-color: #a1a1aa;
}

.project-info button.edit {
    background-image: url("./assets/images/pencil.svg");

}

.project-info button.delete {
    background-image: url("./assets/images/trash-svgrepo-com.svg");

}

.project-info .action {
    display: flex;
    gap: 1rem;
}

.content-area .task-container {
    display: grid;
    grid-template-areas: "title title title"
        "left center right";
    border: 2px solid;
    grid-template-rows: 1fr 10fr ;
}

.task-container .title {
    grid-area: title;
    width: 100%;
}

.task-container .todo,
.task-container .in-progress,
.task-container .done {
    width: 100%;
    height: auto;
    justify-self: center;
    text-align: center;
}

.task-container .todo {
    grid-area: left;
    
}

.task-container .in-progress {
    grid-area: center;
}

.task-container .done {
    grid-area: right;
}

